{% extends "base.html" %}

{% block content %}
    <div class="row about-content">
        <div class="col-md-6 about-pic">
            <img class="about-pic" src="http://placekitten.com/g/450/500" alt="Preeta Rajamani">
        </div>
        <div class="col-md-6 about-text">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facere, perferendis, rerum! Ab aliquam,
                aperiam deserunt dolores fuga illo impedit inventore ipsum iste, maxime necessitatibus nihil, nostrum
                obcaecati officia tempore voluptas?
            </p>
        </div>
    </div>
{% endblock %}
