{% extends "base.html" %}

{% block content %}
    <div class="row main-content">
        <div class="col-md-6 left-pane-content">
            <img class="recent-work" src="http://placehold.it/100x100" alt="Recent Work">
            <img class="most-recent-item" src="http://placekitten.com/g/460/500" alt="Most Recent Work">
        </div>
        <div class="col-md-6 right-pane-content">
            <img class="recent-item" src="http://placekitten.com/g/460/500" alt="Recent Item">
        </div>
    </div>
{% endblock %}